.news-slider.swiper {
  width: 100%;
  min-height: 590px;
  margin: 0 auto 24px;

  @media (min-width: $tablet) {
    margin: 0 auto 30px;
    min-height: 730px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto 40px;
    min-height: 400px;
  }
}

.news-slider__list.swiper-wrapper {
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;

  @media (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}

.news-slider__item.swiper-slide {
  position: relative;
  display: flex; // Меняем grid на flex
  flex-direction: column;
  overflow: hidden;
  border-radius: 12px 12px 12px 0;
  min-height: 330px;
  width: 290px;

  &:nth-child(odd) {
    order: 1; // Нечетные слайды - первый ряд
    min-height: 330px;
  }

  &:nth-child(even) {
    order: 2; // Четные слайды - второй ряд
    min-height: 240px;
  }

  @media (min-width: $tablet) {
    &:nth-child(odd),
    &:nth-child(even) {
      order: initial; // Сбрасываем порядок на планшете+
      min-height: 350px;
    }
  }

  @media (min-width: $desktop) {
    &:nth-child(odd),
    &:nth-child(even) {
      min-height: 400px;
    }

    width: 286px;
    transition: width 0.3s ease; // Плавное изменение ширины
    flex-shrink: 0;
  }
}

.news-slider__item.swiper-slide.swiper-slide-active {
  @media (min-width: $desktop) {
    width: 604px;
  }
}

.news-slider__image-wrapper {
  position: absolute; // Абсолютное позиционирование
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.news__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; // Важно: кадрирование с сохранением пропорций
}

.news-slider__text-wrapper {
  position: relative; // Относительное позиционирование
  margin-top: auto; // Прижимаем текст к низу
  z-index: 2; // Текст поверх изображения
}

.news-slider__date {
  font-size: $font-size-12;
  line-height: 12px;
  font-weight: 500;
  letter-spacing: 0.12px;
  color: $color-accent;
  background-color: $color-main;
  border-radius: 0 12px 0 0;
  text-transform: uppercase;
  padding: 12px 12px 6px 0;
  display: inline-block;
  word-break: break-all;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    mask-image: url("/__spritemap#sprite-angle-view");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $color-main;
    width: 16px;
    height: 16px;
    left: 0;
    top: -16px;
    rotate: -90deg;
  }

  &::after {
    content: "";
    position: absolute;
    mask-image: url("/__spritemap#sprite-angle-view");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $color-main;
    width: 16px;
    height: 16px;
    right: -16px;
    bottom: 0;
    rotate: -90deg;
  }
}

.news-slider__subtitle-container {
  background-color: $color-main;
  padding: 10px 18px 4px 0;
  border-radius: 0 12px 0 0;
  width: 200px;
  box-sizing: border-box;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    mask-image: url("/__spritemap#sprite-angle-view");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $color-main;
    width: 16px;
    height: 16px;
    right: -16px;
    bottom: 0;
    rotate: -90deg;
  }

  @media (min-width: $tablet) {
    padding: 10px 16px 6px 0;
    width: 207px;
  }

  @media (min-width: $desktop) {
    width: 190px;
    padding: 10px 21px 4px 0;
  }
}


.news-slider__item.swiper-slide-active .news-slider__subtitle-container {
  @media (min-width: $desktop) {
    width: 426px;
    padding: 18px 18px 6px 0;
  }
}

.news-slider__slider-title {
  font-size: $font-size-16;
  line-height: 18px;
  font-weight: 400;
  color: $color-accent;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: $font-size-20;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    font-size: $font-size-24;
    line-height: 26px;
  }
}

.news-slider__slider-text {
  background-color: $color-main;
  padding: 12px 10px 10px 0;
  border-radius: 0 12px 0 0;
  width: 263px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    mask-image: url("/__spritemap#sprite-angle-view");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $color-main;
    width: 16px;
    height: 16px;
    right: -16px;
    bottom: 0;
    rotate: -90deg;
  }

  @media (min-width: $tablet) {
    padding: 12px 18px 15px 0;
    width: 240px;
    gap: 16px;
  }

  @media (min-width: $desktop) {
    padding: 10px 21px 4px 0;
  }
}

.news-slider__item.swiper-slide-active .news-slider__slider-text {
  @media (min-width: $desktop) {
    width: 468px;
    padding: 12px 18px 15px 0;
  }
}

.news-slider__slider-text p {
  font-size: $font-size-12;
  line-height: 14px;
  font-weight: 400;
  color: $color-basis;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: $font-size-14;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    line-height: 18px;
  }
}

.news-slider__slider-link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $color-accent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1px;
  flex-shrink: 0;

  &::after {
    content: "";
    display: inline-block;
    mask-image: url("/__spritemap#sprite-arrow-btn-view");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #ffffff;
    width: 8px;
    height: 8px;
  }
}

.news__slider-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.news__slider-button.swiper-button-prev,
.news__slider-button.swiper-button-next {
  width: 22px;
  height: 22px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  box-sizing: border-box;
  background-color: $color-main;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 9px;
    height: 9px;
    mask: url("/__spritemap#sprite-arrow-slider-view");
    background-color: $color-accent;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease-in-out;
    z-index: 1;
  }
}

.news__slider-button--prev.swiper-button-prev {
  transform: rotate(-180deg);
}

.news__pagination.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 152px;
  height: 26px;
  box-sizing: border-box;
  position: relative;

  @media (min-width: $tablet) {
    gap: 20px;
    width: 188px;
    height: 32px;
  }
}

.news__bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 14px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(49, 109, 194, 0.5);
  background-color: $color-main;
  padding: 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet) {
    width: 32px;
    height: 32px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
  }

  // &:hover {
  //   background-color: #d9d9d9;
  // }

  // &:active {
  //   background-color: rgba(255, 255, 255, 0.5);
  // }

  // &:focus,
  // &:focus-visible {
  //   outline: 1px solid rgba(255, 255, 255, 0.5);
  //   outline-offset: 2px;
  // }

  // &:active:not(:focus),
  // &:active:not(:hover) {
  //   background-color: transparent;
  // }
}

.news__bullet.news__bullet--active {
  color: $color-additional;
  background-color: $color-accent;
}
