$color-additional: #484848;
$color-main: #f0efe9;
$color-accent: #316dc2;
$color-basis: #ffffff;
$color-active: #275699;
$color-disabled: #a9afb7;
$mobile: 767px;
$tablet: 768px;
$desktop: 1440px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-32: 32px;
$font-size-34: 34px;
$font-size-36: 36px;
$font-size-50: 50px;
$font-size-54: 54px;